.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startbutton {
    user-select: none;
    text-align: center;
    width: 300px;
    height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #a6fc06;
    /* background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%); */
    border: none;
    border-radius: 1000px;
    /* box-shadow: 12px 12px 24px rgba(166, 252, 6, 0.64); */
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

/* 正常情况下不显示before，before是画了一个border外圈 */
startbutton::before { 
    content: '';
    border-radius: 1000px;
    width: calc(300px + 18px);
    height: calc(60px + 18px);
    border: 6px solid rgb(166, 252, 6);
    /* box-shadow: 0 0 60px rgba(166, 252, 6, 0.64); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.startbutton:hover,
.startbutton:focus {
    color: #313133;
    transform: translateY(-6px);
}

/* 当hover时显示before，显示外圈 */
startbutton:hover::before,
startbutton:focus::before {
    opacity: 1;
}

/* after绘制了一个动画圆 */
startbutton::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #a6fc06;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 0.7s infinite;
}

/* 鼠标碰到时关闭动画显示 */
/* startbutton:hover::after,
startbutton:focus::after {
    animation: none;
    display: none;
} */

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}